<p>Matches for <em>@Search</em></p>
<ul>
    @foreach (var cocktail in Cocktails)
    {
        <li><a href="#" hx-get="/cocktails/detail/@cocktail.id" hx-target="#cocktail-detail">@cocktail.Name</a></li>
    }
</ul>

@code
{
    [Parameter]
    public string? Search { get; set; }

    [Parameter]
    public IEnumerable<Cocktail> Cocktails { get; set; } = Enumerable.Empty<Cocktail>();
}