@page "/"

<PageTitle>Home</PageTitle>

<h1 id="header">Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary" hx-get="/api/love-htmx" hx-target="#header">Click me</button>

