@page "/"

<h1>Home</h1>

Welcome to your new app.

<div id="header"></div>

<button class="btn btn-primary" hx-get="/api/love-htmx" hx-target="#header">Click me</button>

<div hx-get="/Person" hx-trigger="load"></div>
<div id="people-list" hx-get="/person-list" hx-trigger="load, person-list-updated from:body"></div>