@using Microsoft.AspNetCore.Components.Forms

<form hx-post="/Person" hx-target="this" hx-swap="outerHTML">
    <AntiforgeryToken/>
    <input type="hidden" name="PersonId" value="@Model?.PersonId"/>
    <label for="FirstName">
        <input type="text" id="FirstName" name="FirstName" value="@Model?.FirstName"/>
    </label>
    <label for="LastName">
        <input type="text" id="LastName" name="LastName" value="@Model?.LastName"/>
    </label>
    <button type="submit">Save</button>
    @if (Model?.PersonId > 0)
    {
        <button type="button" hx-delete="/Person/@Model?.PersonId">Delete</button>
    }
</form>

@code {
    [Parameter]
    public PersonRecord? Model { get; set; }
}