@page "/session"

@foreach (var key in HttpContext!.Session.Keys)
{
    <div>
        <h1>@key</h1>
        <div>@HttpContext.Session.GetString(key)</div>
    </div>
}

@code {
    [CascadingParameter] public HttpContext? HttpContext { get; set; }
}