@page "/session"
@inject IHttpContextAccessor ContextAccessor

@foreach (var key in ContextAccessor.HttpContext!.Session.Keys)
{
    <div>
        <h1>@key</h1>
        <div>@ContextAccessor.HttpContext.Session.GetString(key)</div>
    </div>
}