<h1>Session</h1>

@foreach (var key in Session?.Keys!)
{
    <div>
        <strong>@key</strong>
        <div>@Session.GetString(key)</div>
    </div>
}

@code {
    [Parameter] public ISession? Session { get; set; }
}