dialog {
    border: none !important;
    border-radius: 6px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 400px;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

    dialog[open] {
        display: flex;
        opacity: 1;
        pointer-events: inherit;
    }

    dialog::backdrop {
        background: rgba(0,0,0,0.3);
        backdrop-filter: blur(3px);
    }
