<button onclick="window.my_modal.showModal();" hx-get="/api/pagelinks" hx-target="#my_modal" class="btn btn-primary">Menu</button>
<dialog id="my_modal">
    <button type="button" onclick="window.my_modal.close();">Close</button>
</dialog>