<button class="btn btn-primary" hx-put="/api/counter/@Increment" hx-swap="outerHTML">@buttonLabel</button>

@code {

    [Parameter] 
    public int Increment { get; set; }

    private string buttonLabel = "";

    protected override void OnInitialized()
    {
        buttonLabel = Increment > 0 ? $"+{Increment}" : $"{Increment}";
    }

}