@page "/counter"

<h1>Counter</h1>

<span hx-get="/api/counter" hx-trigger="counter-updated from:body">
    <CurrentCount />
</span>

<CounterAction Increment="-1"/>
<CounterAction Increment="1"/>