@page "/photos"

<h1>Photos</h1>

<div class="container-fluid">
    <div class="control-panel">
        <form class="controls">
            <button class="btn btn-primary" aria-label="Prev" hx-get="/photos/prev" hx-target="#photo-sheet">Prev</button>
            <button class="btn btn-primary" aria-label="Next" hx-get="/photos/next" hx-target="#photo-sheet">Next</button>
        </form>
        <form hx-get="/photos/search" hx-target="#photo-sheet" class="controls">
            <input type="number" name="page" class="form-control" aria-label="Page" min="1" max="3000" value="1"/>
            <input type="number" name="size" class="form-control" aria-label="Length" min="1" max="100" value="16"/>
            <button class="btn btn-primary" aria-label="Load" type="submit">Load</button>
        </form>      
    </div>
    <div id="photo-sheet" hx-get="/photos/sheet" hx-trigger="load, photos-state-updated from:body"></div>
</div>
