<div class="popup-menu">
    <a class="menu-link" href="/" hx-boost="true">Home</a>
    <a class="menu-link" href="/counter" hx-boost="true">Counter</a>
    <a class="menu-link" href="/weather" hx-boost="true">Weather</a>
    <a class="menu-link" href="/cocktails" hx-boost="true">Cocktails</a>
    <a class="menu-link" href="/photos" hx-boost="true">Photos</a>
</div>
