<form class="popup-menu" method="dialog">
    <a class="menu-link" href="/" >Home</a>
    <a class="menu-link" href="/counter">Counter</a>
    <a class="menu-link" href="/weather">Weather</a>
    <a class="menu-link" href="/cocktails">Cocktails</a>
    <a class="menu-link" href="/photos">Photos</a>
</form>
